.hello {
    background-color: fade-out($white, 0.1 );
    position: absolute;
    padding: 5px 25px 10px 25px;
    border-radius: 5px;
    margin: 60px 10px 10px 0px;
    justify-content: center;
    max-width: 500px;
    // animation: float 6s ease-in-out infinite;
    animation: flickr 3s linear 2;

    &::after {
      content: url('../images/tri.png');
      position: relative;
      top: 34px;
      left: 0px;
      opacity: 0.9;
    }

    @-webkit-keyframes flickr {
    0% { opacity: .3;    }
    10%   { opacity: .7; }
    15%   { opacity: .5; }
    20%   { opacity: .9; }
    25%   { opacity: .3; }
    45%   { opacity: .6; }
    60%   { opacity: .4; }
    70%,100%   { opacity: 1; }
  }
}
