.hello {
    background-color: fade-out($white, 0.1 );
    position: absolute;
    padding: 5px 25px 10px 25px;
    border-radius: 5px;
    margin: 60px 10px 10px 0px;
    justify-content: center;
    max-width: 500px;

    &::after {
      content: url('../images/tri.png');
      position: relative;
      top: 34px;
      left: 0px;
      opacity: 0.9;
    }
}
