$base-text-size: 16px;
$base-font-family: sans-serif;

$background:  rgb(0, 0, 10);
$mainGrey: #272827;
$fadedGrey: hsla(120, 1%, 15%, 0.9);
$fadedGrey2: hsla(120, 1%, 15%, 0.5);
$newBlue: hsla(226, 33%, 48%, 0.8);
$fullWidth: 100vw;
$fullHeight: 100%;
$white: #fff;
$slider: 800px;

@mixin animate {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
  opacity: 0;

  @keyframes fadein {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
}

// Apply a height to the html and body elements to that they
// fill the height of the view by default.
@mixin full-height {
  height: 100%;

  body,
  #root {
    min-height: 100%;
  }
}
